<center>
  <h1 style= "color: white; background: black;padding: 25px 25px;text-align: left;">WELCOME TO ALPHA BLOG
    <h4>
      <%= link_to 'Create New Article', new_article_path, class: "primary_button" %>&nbsp; &nbsp; &nbsp
      <%= link_to 'Articles', articles_path, class: "primary_button" %>
    </h4>
  </h1>
</center>
<style media="screen", type="text/css">
  .primary_button{
    background: dodgerblue;
    padding: 5px 75px;
   color: white;
  }
</style>
