<center>
  <h1 style= "color: white; background: black;padding: 25px 25px;text-align: left;">WELCOME TO ALPHA BLOG
    <h4>
      <%= link_to 'Create New Article', new_article_path %>&nbsp; &nbsp; &nbsp<%= link_to 'Articles', articles_path %>
    </h4>
  </h1>
</center>
